<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Fernando Choque">

<title>
    <%= title %>
</title>

<!-- Font Awesome -->
<link href="<%=ruta %>vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Bootstrap -->
<link href="<%=ruta %>css/bootstrap.min.css" rel="stylesheet">

<!-- Estilo Personal para la Plantilla -->
<link href="<%=ruta %>css/sb-admin-2.min.css" rel="stylesheet">

<!-- Datatables -->
<link href="<%=ruta %>vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Google Font -->
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Font Awesome CDN -->
<script src="https://kit.fontawesome.com/016b08a986.js" crossorigin="anonymous"></script>

<!-- Swwt Alert2  -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>