<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="fw-bold h4 text-dark p-2 m-0 ">
            <i class="fas fa-list"></i>
            <span>Listar <%= title %></span>
        </h6>
        <a href="/compras/add" class="btn btn-info">
            Agregar <i class="fa-solid fa-plus ml-1 fw-bold fa-lg"></i>
        </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Proveedor</th>
                        <th>Precio U.</th>
                        <th>Stock</th>
                        <th>Total</th>
                        <th>Precio V.</th>
                        <th>Fecha Vencimiento</th>
                        <th>Estado</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(function(compra, index) { %>
                        <tr>
                            <td>
                                <%= index+1 %>
                            </td>
                            <td>
                                <%= compra.nombre %>
                            </td>
                            <td>
                                <%= compra.nombreCategoria %>
                            </td>
                            <td>
                                <%= compra.nombreProveedor%>
                            </td>
                            <td>
                                <%= compra.precio_unitario%>
                            </td>
                            <td>
                                <%= compra.stock %>
                            </td>
                            <td>
                                <%= compra.total %>
                            </td>
                            <td>
                                <%= compra.precio_venta %>
                            </td>
                            <td>
                                <%= compra.fecha_vencimiento %>
                            </td>
                            <td class="text-center">
                                <% if (compra.estado===1) { %>
                                    <div class="btn btn-success btn-sm active">Activo</div>
                                    <% } else { %>
                                        <div class="btn btn-danger btn-sm active">Inactivo</div>
                                        <% } %>

                            </td>
                            <td class="text-center">
                                <a href="/compras/edit/<%= compra.id %>" class="btn btn-primary">
                                    <i class="fas fa- fa-pen-to-square"></i>
                                </a>
                                <button onclick="eliminar(<%= compra.id %>)" class="btn btn-danger" <% if
                                    (compra.estado===0) { %>
                                    disabled
                                    <% } %>>
                                        <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <button onclick="habilitar(<%= compra.id %>)" class="btn btn-warning" <% if
                                    (compra.estado===1) { %>
                                    disabled
                                    <% } %>>
                                        <i class="fa-solid fa-rotate-left"></i>
                                </button>
                                <a href="/compras/editPrecio/<%= compra.producto_id%>/<%= compra.compra_id%>"
                                    class="btn btn-dark">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Termina Datatable -->

<script>
    // Funcion para Mostrar la Alerta de Eliminar:
    function habilitar(id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success m-2',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Estas seguro?',
            text: '¿Confirma habilitar el registro: ' + id + '?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si, habilitar!',
            cancelButtonText: 'No, cancelar!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Habilitado!',
                    'El registro con el id: ' + id,
                    'success'
                ).then(() => {
                    window.location = '/compras/habilitar/' + id;
                })
            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelar',
                    'Habilitar el registro con el id: ' + id,
                    'error'
                )
            }
        })
    };
    function eliminar(id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success m-2',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Estas seguro?',
            text: '¿Confirma eliminar el registro: ' + id + '?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si, eliminar!',
            cancelButtonText: 'No, cancelar!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Eliminado!',
                    'El registro con el id: ' + id,
                    'success'
                ).then(() => {
                    window.location = '/compras/eliminar/' + id;
                })
            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelar',
                    'Eliminar el registro con el id: ' + id,
                    'error'
                )
            }
        })
    };
</script>